<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MySqlTest.Properties.Settings.esme_environmentConnectionString"
            connectionString="server=nikon.bu.edu;user id=da;Password=AmySophie17;persist security info=True;database=esme_environment"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>