<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define LongProductName = "Desktop EarLab" ?>
  <?define ShortProductName = "EarLab" ?>
  <?define ProductAuthor = "Hearing Research Center" ?>
  <?define ProductFullVersion = "2.5.1.0" ?>
  <?define Manufacturer="Boston University"?>
  <?define EarlabRoot="C:\Projects\earlab"?>
  <?define CoreToolsRoot="$(var.EarlabRoot)\out\Desktop EarLab\Release"?>
  <?define ModuleRoot="$(var.EarlabRoot)\out\Modules\Release"?>
  <?define MergeModulesPath="C:\Program Files (x86)\Common Files\Merge Modules"?>

  <?if $(var.Platform) = x64 ?>
  <?define CoreToolsFolder = "$(var.CoreToolsRoot)\x64" ?>
  <?define ProductDisplayName = "$(var.LongProductName) (64-bit)" ?>
  <?define ProductUpgradeCode = "2971C963-773C-452D-808A-6FBD58170C4F" ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define CoreToolsFolder = "$(var.CoreToolsRoot)\Win32" ?>
  <?define ProductDisplayName = "$(var.LongProductName)" ?>
  <?define ProductUpgradeCode = "1C0EAC43-8C02-4841-8C50-3B1AE5FC13F5" ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="*"
           Name="$(var.ProductDisplayName)"
           Language="1033"
           Version="$(var.ProductFullVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="300"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.ProductAuthor)"/>

    <Media Id="1" Cabinet="Modules.cab" EmbedCab="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />


    <MajorUpgrade AllowDowngrades="no"
                  AllowSameVersionUpgrades="yes"
                  Schedule="afterInstallInitialize"
                  MigrateFeatures="yes"
                  DowngradeErrorMessage="A later version of [LongProductName] is already installed. Setup will now exit." />

    <!-- Property gets value from registry to set up installation folder for upgrades -->
    <Property Id="APPLICATIONFOLDER" Secure="yes">
      <RegistrySearch Id='AppFolderRegistrySearch'
                      Type='raw'
                      Root='HKLM'
                      Key='Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]'
                      Name='INSTALLLOCATION'
                      Win64='$(var.Win64)' />
    </Property>

    <!-- Define destination folder (name of app folder only) -->
    <Property Id="ApplicationFolderName" Value="$(var.ShortProductName)" />

    <!-- Default to per-machine installation -->
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONFOLDER" Name="EarLab">
          <Directory Id="COREFILES" Name="Desktop EarLab">
            <Component Id="Core" Guid="FE21A056-2236-4EF2-912E-154E180FAC06">
              <File Id="DesktopEarlab.exe"
                    Name="DesktopEarlab.exe"
                    Source="$(var.CoreToolsFolder)\DesktopEarlab.exe"
                    KeyPath="yes" />
              <File Id="DesktopEarlabDLL.dll"
                    Name="DesktopEarlabDLL.dll"
                    Source="$(var.CoreToolsFolder)\DesktopEarlabDLL.dll" />
              <!-- GUI tools -->
              <File Id="Simulator.exe"
                    Name="Simulator.exe"
                    Source="$(var.CoreToolsRoot)\Simulator.exe" />
              <File Id="ExperimentManager.exe"
                    Name="ExperimentManager.exe"
                    Source="$(var.CoreToolsRoot)\ExperimentManager.exe" />
            </Component>
            <?if $(var.Platform) = x64 ?>
            <!-- 64-bit components go here -->
            <Merge Id="vc100" Language="1033" SourceFile="$(var.MergeModulesPath)\Microsoft_VC100_CRT_x64.msm" DiskId="1" />
            <?else ?>
            <!-- 32-bit components go here -->
            <Merge Id="vc100" Language="1033" SourceFile="$(var.MergeModulesPath)\Microsoft_VC100_CRT_x86.msm" DiskId="1" />
            <?endif ?>

          </Directory>
          <Directory Id="ModulesFolder" Name="Modules" />
          <Directory Id="ModelsFolder" Name="Models" />
          <Directory Id="DataViewerFolder" Name="DataViewer" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="EarlabShortcutFolder" Name="$(var.LongProductName)">
          <Directory Id="DocumentationShortcutFolder" Name="Documentation"/>
          <Directory Id="HelpShortcutFolder" Name="Help"/>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- shortcuts to applications in the start menu -->
    <DirectoryRef Id="EarlabShortcutFolder">
      <Component Id="DesktopEarlab_Shortcuts" Guid="{A37EF89F-F37D-4C63-9816-8A0AFC97ACA2}" Win64="$(var.Win64)">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[LongProductName]">
          <RegistryValue Value="Uninstall" Type="string" KeyPath="yes" />
        </RegistryKey>
        <CreateFolder Directory="DocumentationShortcutFolder" />
        <CreateFolder Directory="HelpShortcutFolder" />
        <!-- remove folder -->
        <RemoveFolder Id="RemoveDocumentationShortcutFolder"
           Directory="DocumentationShortcutFolder"
           On="uninstall" />
        <RemoveFolder Id="RemoveHelpShortcutFolder"
           Directory="HelpShortcutFolder"
           On="uninstall" />
        <RemoveFolder Id="RemoveEarlabShortcutFolder"
           Directory="EarlabShortcutFolder"
           On="uninstall" />
        <Shortcut Id="ExperimentManagerShortcut"
                  Directory="EarlabShortcutFolder"
                  Name="Experiment Manager"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]ExperimentManager.exe"
                  Advertise="no" />
        <Shortcut Id="SimulatorShortcut"
                  Directory="EarlabShortcutFolder"
                  Name="Simulator"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]Simulator.exe"
                  Advertise="no" />
        <Shortcut Id="DataViewerShortcut"
                  Directory="EarlabShortcutFolder"
                  Name="Data Viewer"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[DataViewerFolder]DataViewer.exe"
                  Advertise="no" />
        <Shortcut Id="SpikeAnalysisDemoShortcut"
                  Directory="EarlabShortcutFolder"
                  Name="Spike analysis demo (requires MATLAB) "
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]LaunchSpikeAnalysis.bat"
                  Advertise="no" />
        <Shortcut Id="EarlabHelpShortcut"
                  Directory="HelpShortcutFolder"
                  Name="EarLab Help"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]DesktopEarLab.chm"
                  Advertise="no" />
        <Shortcut Id="DataViewerHelpShortcut"
                  Directory="HelpShortcutFolder"
                  Name="Data Viewer Help"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[DataViewerFolder]DataViewer.chm"
                  Advertise="no" />
        <Shortcut Id="ExperimentDescriptionsShortcut"
                  Directory="DocumentationShortcutFolder"
                  Name="Experiment Descriptions (requires Acrobat Reader)"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]Experiments.pdf"
                  Advertise="no" />
        <Shortcut Id="FileGuideShortcut"
                  Directory="DocumentationShortcutFolder"
                  Name="File Guide"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]FileGuide.htm"
                  Advertise="no" />
        <Shortcut Id="InstallationGuideGuideShortcut"
                  Directory="DocumentationShortcutFolder"
                  Name="Installation Guide"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]InstallGuide.htm"
                  Advertise="no" />
        <Shortcut Id="OverviewShortcut"
                  Directory="DocumentationShortcutFolder"
                  Name="Overview"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]Overview.htm"
                  Advertise="no" />
        <Shortcut Id="ReadmeShortcut"
                  Directory="DocumentationShortcutFolder"
                  Name="Read Me"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Target="[COREFILES]readme.html"
                  Advertise="no" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="$(var.LongProductName)" Level="1">
      <ComponentRef Id="Core" />
      <ComponentGroupRef Id="Documentation" />
      <ComponentGroupRef Id="Modules" />
      <ComponentGroupRef Id="Models" />
      <ComponentGroupRef Id="DataViewer" />
      <ComponentRef Id="DesktopEarlab_Shortcuts"/>
      <MergeRef Id="vc100"/>
    </Feature>

    <!-- 
		Set default destination folder (full path) unless it comes from registry 
		SetDirectory schedules the action prior to WixSetDefaultPerMachineFolder;
		code updated for manually scheduled elements to schedule between 
		WixSetDefaultPerMachineFolder and WixSetPerMachineFolder.
	-->
    <SetDirectory
      Id="APPLICATIONFOLDER"
      Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]">APPLICATIONFOLDER=""</SetDirectory>

    <CustomAction
        Id="OverwriteWixSetDefaultPerMachineFolder"
        Property="WixPerMachineFolder"
        Value="[APPLICATIONFOLDER]"
        Execute="immediate"
	/>

    <!-- Save destination folder in Add/Remove programs (ARP) registry key -->
    <SetProperty
      Id="ARPINSTALLLOCATION"
      Value="[APPLICATIONFOLDER]"
      After="CostFinalize"
	/>
  </Product>
</Wix>
