<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?if $(var.Platform) = x64 ?>
  <?define Bitness="(64-bit)"?>
  <?else ?>
  <?define Bitness="(32-bit)"?>
  <?endif ?>
  <?define ProductName = "Desktop EarLab $(var.Bitness)" ?>
  <Bundle Name="Desktop_Earlab_Bootstrapper" Version="1.0.0.0" Manufacturer="" UpgradeCode="4fd82ab5-c818-4316-8217-d155efecd853">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
						LicenseFile="license.rtf"/>
		</BootstrapperApplicationRef>

		<Chain>
      <PackageGroupRef Id="Netfx20_x86" />
      <PackageGroupRef Id="Netfx20_x64" />
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/ESME%20Application-$(var.Platform).msi"
                  SourceFile="$(var.ApplicationRoot)\msi\ESME Application-$(var.Platform).msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no" />
		</Chain>
	</Bundle>
</Wix>