<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?if $(var.Platform) = x64 ?>
  <?define Bitness="(64-bit)"?>
  <?else ?>
  <?define Bitness="(32-bit)"?>
  <?endif ?>
  <?define ProductName = "Desktop EarLab $(var.Bitness)" ?>
  <Bundle 
    Name="$(var.ProductName)" 
    Version="2.5.1.0" 
    Manufacturer="Boston University Hearing Research Center" 
    IconSourceFile="earlab.ico"
    UpgradeCode="{6D200E97-75AC-445A-884D-3D7CF71667BE}">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
						LicenseFile="license.rtf"
            LogoFile="earlab_64x64.png"
            ThemeFile="RtfTheme.xml"/>
		</BootstrapperApplicationRef>

		<Chain>
      <PackageGroupRef Id="Netfx4Full" />
      <MsiPackage DownloadUrl="http://earlab.bu.edu/software/desktop/versions/DesktopEarLab-$(var.Platform).msi"
                  SourceFile="C:\Projects\earlab\setup\$(var.Configuration)\DesktopEarlab-$(var.Platform).msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="no"
                  Vital="yes" />
		</Chain>
	</Bundle>
</Wix>