#include <windows.h>
#include "showexpmenu.h"

MAINMENU MENU {
	POPUP "&Earlab"
	{
		MENUITEM "Discover Resources...", FILE_MENU_MASTER
		MENUITEM "Resource Monitor", TOOL_MENU_RESMON,GRAYED
		MENUITEM  SEPARATOR
		MENUITEM "&Exit",            FILE_MENU_EXIT
	}
	POPUP "&Experiment"
	{
		MENUITEM "Experiment Name",       TOOL_MENU_EXPNAME
		MENUITEM "Open Configuration...", FILE_MENU_OPEN
		MENUITEM "Edit Configuration",    RUN_MENU_EDIT
		POPUP "&Experiment Host" {
			POPUP "New Experiment" {
				MENUITEM "LocalHost", HOST_MENU_LOCALHOST
				MENUITEM SEPARATOR
				MENUITEM "NONE",      HOST_MENU_NEW_0,GRAYED
			}
			MENUITEM "Connect to...", HOST_MENU_CONN
			MENUITEM SEPARATOR
			MENUITEM "Refresh",       HOST_MENU_SCAN,GRAYED
			MENUITEM SEPARATOR
			MENUITEM "NONE",          HOST_MENU_HOST_0,GRAYED
		}
		MENUITEM "Host Disconnect",       HOST_MENU_DISCONN,GRAYED
		MENUITEM "Monitor",               TOOL_MENU_EXPMON,GRAYED
		POPUP "&Debug Modules" {
			MENUITEM "Verbose",       DEBUG_MENU_VERBOSE
			MENUITEM "Transport",     DEBUG_MENU_TRANSPORT
			MENUITEM "File Service",  DEBUG_MENU_FS
			MENUITEM SEPARATOR
			MENUITEM "Off",           DEBUG_MENU_DEBUG_0,CHECKED
			MENUITEM "Level 1",       DEBUG_MENU_DEBUG_1
			MENUITEM "Level 2",       DEBUG_MENU_DEBUG_2
			MENUITEM "Level 3",       DEBUG_MENU_DEBUG_3
		}
		MENUITEM "Load Modules",          RUN_MENU_LOAD,GRAYED
		MENUITEM "Steps...",              RUN_MENU_STEPS
		MENUITEM "Run",                   RUN_MENU_RUN,GRAYED
	}
	POPUP "&Probe"
	{
		POPUP "&Probe Type" {
			MENUITEM "WinPlot",       PROBE_TYPE_WPLOT,CHECKED
			MENUITEM "XPlot",         PROBE_TYPE_XPLOT
			MENUITEM "WinWave",       PROBE_TYPE_WAVE
			MENUITEM "XWave",         PROBE_TYPE_XWAVE
			MENUITEM "WinSpike",      PROBE_TYPE_SPIKE
			MENUITEM "XSpike",        PROBE_TYPE_XSPIKE
			MENUITEM "Struct3D",      PROBE_TYPE_STRUCT
		}
		MENUITEM SEPARATOR
		MENUITEM "NONE",                  PROBE_MENU_PROBE_N,GRAYED
	}
	POPUP "&Options"
	{
		MENUITEM "Local Exec",           OPT_MENU_LOCALEX
		MENUITEM "Unload",               OPT_MENU_UNLOAD
		MENUITEM "Tunnel",               OPT_MENU_TUNNEL
		MENUITEM "Dump Data",            OPT_MENU_DUMP
		MENUITEM "Verbose",              OPT_MENU_VERBOSE
	}
	POPUP "&Tools"
	{
		MENUITEM "Console",    TOOL_MENU_CONSOLE,GRAYED
		MENUITEM "FileShare",  TOOL_MENU_FSERV,GRAYED
		MENUITEM "Cleanup",    TOOL_MENU_CLEANUP,GRAYED
	}
}

#define COM_STYLE WS_CHILD|WS_VISIBLE|WS_TABSTOP

MasterDlg  DIALOG 100, 100, 100, 80
CAPTION "Search for Earlab Master"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT        DLG_MASTER_HOST_TEXTBOX,  10,10,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	EDITTEXT        DLG_MASTER_WORLD_TEXTBOX, 10,30,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel", DLG_MASTER_CANCEL,  10,50,30,12, COM_STYLE
	PUSHBUTTON "Enter",  DLG_MASTER_ENTER,   50,50,40,12, COM_STYLE|BS_DEFPUSHBUTTON
}

StepsDlg  DIALOG 100, 100, 100, 50
CAPTION "Simulation Frames"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT             DLG_STEPS_TEXTBOX, 60,10,30,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel", DLG_STEPS_CANCEL,  10,30,30,12, COM_STYLE
	PUSHBUTTON "Enter",  DLG_STEPS_ENTER,   50,30,40,12, COM_STYLE|BS_DEFPUSHBUTTON
}

FservDlg  DIALOG 100, 100, 200, 50
CAPTION "FileShare Directory"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT             DLG_FSERV_TEXTBOX, 10,10,180,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel", DLG_FSERV_CANCEL,  10,30, 30,12, COM_STYLE
	PUSHBUTTON "Enter",  DLG_FSERV_ENTER,   50,30, 40,12, COM_STYLE|BS_DEFPUSHBUTTON
}

ExpnameDlg  DIALOG 100, 100, 100, 50
CAPTION "Experiment Name"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT             DLG_EXPNAME_TEXTBOX, 10,10,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel", DLG_EXPNAME_CANCEL,  10,30,30,12, COM_STYLE
	PUSHBUTTON "Enter",  DLG_EXPNAME_ENTER,   50,30,40,12, COM_STYLE|BS_DEFPUSHBUTTON
}

HostDlg  DIALOG 100, 100, 100, 50
CAPTION "Experiment Host Server"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT             DLG_HOST_TEXTBOX, 10,10,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel", DLG_HOST_CANCEL,  10,30,30,12, COM_STYLE
	PUSHBUTTON "Enter",  DLG_HOST_ENTER,   50,30,40,12, COM_STYLE|BS_DEFPUSHBUTTON
}

ConnectDlg DIALOG 100, 100, 100, 50
CAPTION "Connect to Experiment Host"
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT DLG_CONN_TEXTBOX,              10,10,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel",  DLG_CONN_CANCEL,  10,30,30,12, COM_STYLE
	PUSHBUTTON "Connect", DLG_CONN_ENTER,   50,30,40,12, COM_STYLE|BS_DEFPUSHBUTTON
}


