#include <windows.h>
#include "wplotmenu.h"

MAINMENU MENU {
	POPUP "&File"
	{
		MENUITEM "&Open...",    FILE_MENU_OPEN
		MENUITEM "&Exit",       FILE_MENU_EXIT
	}
	POPUP "&Plot"
	{
		MENUITEM SEPARATOR
	}
	POPUP "&Channels"
	{
		MENUITEM "Number of Channels...", CHAN_MENU_NCHAN
	}
	POPUP "&Samples"
	{
		MENUITEM "1",  SAMP_MENU_1, CHECKED
		MENUITEM "2",  SAMP_MENU_2
		MENUITEM "4",  SAMP_MENU_4
		MENUITEM "8",  SAMP_MENU_8
		MENUITEM "16", SAMP_MENU_16
		MENUITEM "32", SAMP_MENU_32
		MENUITEM "64", SAMP_MENU_64
	}

}

#define COM_STYLE WS_CHILD|WS_VISIBLE|WS_TABSTOP

ChanDlg DIALOG 100, 100, 100, 50
CAPTION "Number of channels..."
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_VISIBLE
{
	EDITTEXT              CHAN_MENU_TEXTBOX, 10,10,80,12, COM_STYLE|ES_LEFT|WS_BORDER
	PUSHBUTTON "Cancel",  CHAN_MENU_CANCEL,  10,30,30,12, COM_STYLE|BS_DEFPUSHBUTTON
	PUSHBUTTON "Set",     CHAN_MENU_SET,     50,30,40,12, COM_STYLE|BS_DEFPUSHBUTTON
 /****
	SCROLLBAR "x", 777, 10,40,80,5, WS_DISABLED
 ****/
}

