<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ModuleUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="ModuleUpdater.ModuleService.EarLab Software Module Service" value="http://eardev.bu.edu/data/DataService/ModuleService.asmx"/><add key="ModuleUpdater.ModuleService.EarLab Module Service" value="http://eardev.bu.edu/webservices/EarLabService/Module.asmx"/><add key="ModuleUpdater.ModuleService.EarDev Module Service" value="http://eardev.bu.edu/webservices/EarLabService/Module.asmx"/></appSettings><applicationSettings>
        <ModuleUpdater.Properties.Settings>
            <setting name="ModuleUpdater_ModuleService_EarDev_x0020_Module_x0020_Service"
                serializeAs="String">
                <value>http://eardev.bu.edu/webservices/EarLabService/Module.asmx</value>
            </setting>
        </ModuleUpdater.Properties.Settings>
    </applicationSettings>
</configuration>
